
<%# binding.pry %>

<% if @assignment.errors.any? %>
  <div class="form-group">
    <div class="error_explanation"
      <h3>The assignment could not be created</h3><br />
      <ul>
        <% @assignment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    </div>
<% end %>

<%= form_for [@person, @assignment] do |f| %>



  <p>
  <%= f.label :location %>
  <%= f.collection_select :location_id, Location.all, :id, :name, {include_blank: 'Please select a location...'}, {class: "form-control"} %>
  </p>
  <p>
  <%= f.label :role %>
  <%= f.text_field :role %>
  </p>
  <%= f.submit 'Assign' %>

<% end %>
