<div class= "page-header">
  <div class="pull-right">
    <%= link_to 'Edit', edit_person_path(@person), class: 'btn btn-info' %>
  </div>
  <h1> <%= @person.full_name %> </h1>
</div>

<div class="form-group">
  <h1>Assignments</h1>
  <div class="pull-right">
    <%= link_to '+ Add Location', new_person_assignment_path(@person) %>
  </div>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Location</th>
    <th>Role</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @assignments.each do |assignment| %>
    <tr>
      <td>
        <%= assignment.location.name %>
      </td>
      <td>
        <%= assignment.role %>
      </td>
      <td>
        <%= link_to 'edit', edit_person_assignment_path(@person, assignment) %>
        <%= link_to 'delete', person_assignment_path(@person, assignment), method: :delete, data: { confirm: 'Are you sure?' } %>
    </tr>
  <% end %>
  </tbody>
</table>
